body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 70px;
  padding: 20px 25px;
  justify-content: space-around;
}

.nav-logo{
  display: flex;
  align-items: center;

}

.nav--logo_text {
  color: #61DAFB;
  font-size: 28px;
  letter-spacing: 2px; /* Adjust the value as needed */
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 50px;
  margin-right: 7px;
}

.nav-link{
  text-decoration: none;
  margin-right: 10px;
  color: #DEEBF8;
}

.li-link{
  margin-right: 10px;
  color: #DEEBF8;
}


main {
  padding: 57px 27px;
  color: white;
}

.main--div {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.main--title {
  margin: 0; /* Remove default margins */
  font-size: 39px;
}

.main--facts {
  margin-top: 30px;
  max-width: 600px;
}

.main--facts > li {
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content:space-around
}
.footer-links > a {
    padding: 5px;
}

.footer-link {
  color: white; /* Color of the link */
  text-decoration: none;
  margin-right: 10px;
}

.footer-link:hover, .nav-link:hover {
  text-decoration: underline; /* Underline on hover */
}

.footer-icon {
  margin-right: 5px;
}

